
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ToDoApp.Models.Status

@{ 
    var color = "transparent";

    if (Model.Id == 1)
    {
        color = "red";
    }

    if (Model.Id == 2)
    {
        color = "yellow";
    }

    if (Model.Id == 3)
    {
        color = "green";
    }
}

<span style="background-color : @color;">@Model.Value</span>